<div class="w-screen h-screen bg-neutral text-white">
    <span class="flex justify-center text-4xl font-serif font-semibold">About&nbsp;<span class="text-primary"> Me!</span></span>
    <div>
        <div class="flex justify-around mt-16">
            <div class="flex flex-col justify-center items-center">
                <button (click)="focusSection('journey')" class="text-black w-48 pt-2 pb-2 cursor-pointer rounded-lg text-2xl font-serif font-bold border-2 border-white animate-journey-btn-gradient">The Journey</button>
                <div #journeyBox data-state="small" class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-[#66DDAA] to-[#8FBC8F] opacity-15">
                    <div class="p-2 font-serif text-green-800 font-bold text-lg">
                        text
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <button (click)="focusSection('spark')" class="text-black w-48 pt-2 pb-2 cursor-pointer rounded-lg text-2xl font-serif font-bold border-2 border-white animate-spark-btn-gradient">The Spark</button>
                <div #sparkBox data-state="small" class="w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-orange-400 to-[#FFD700] opacity-15">
                    <div class="p-2 font-serif text-yellow-800 font-bold text-lg">
                        text
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <button (click)="focusSection('future')" class="text-black w-48 pt-2 pb-2 cursor-pointer rounded-lg text-2xl font-serif font-bold border-2 border-white animate-future-btn-gradient">The Future</button>
                <div #futureBox data-state="small" class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-[var(--color-primary)] to-[#D946EF] opacity-15">
                    <div class="p-2 font-serif text-purple-800 font-bold text-lg">
                        text
                    </div>
                </div>
            </div>
        </div>

</div>
