<div class="w-full h-screen overflow-hidden">
    <span class="flex justify-center text-4xl font-serif font-semibold text-white mt-8">About&nbsp;<span class="text-primary"> Me!</span></span>
    <div #fadeContainer id="about-section" class="flex container flex mx-auto max-w-7xl flex-row mt-16 justify-center">
        <div class="flex justify-center gap-16">
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted">The Journey</span>
                <div class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-lg">
                        <!-- YOUR BACKGROUND -->
                        text
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted">The Spark</span>
                <div class="w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-lg">
                        <!-- WHAT MADE YOU GET INTO CS -->
                        text
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">The Future</span>
                <div class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-lg">
                        <!-- WHAT YOU PLAN FOR THE FUTURE -->
                        text
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
