<div class="w-full h-screen overflow-hidden">
    <span class="flex justify-center text-4xl font-serif font-semibold text-white mt-8">About&nbsp;<span class="text-primary"> Me!</span></span>
    <div #fadeContainer id="about-section" class="flex container flex mx-auto max-w-7xl flex-row mt-16 justify-center">
        <div class="flex justify-center gap-16">
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted">The Journey</span>
                <div class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-md text-left">
                        <!-- YOUR BACKGROUND -->
                        As I got into high school, my <span class="text-tertiary font-bold">curiosity</span> grew into a deeper interest in how software works. Once I started programming, <span class="text-tertiary font-bold">everything clicked</span> I enjoyed breaking down problems and building solutions that felt like real-world puzzle solving. <br><br>

                        I went on to study Computer Science at <span class="text-tertiary font-bold">Temple University</span>, where I built a strong foundation in software development, <span class="text-tertiary font-bold">data structures</span>, and <span class="text-tertiary font-bold">algorithms</span>. I also worked as a <span class="text-tertiary font-bold">Teaching Assistant</span>, helping students strengthen their problem-solving skills while deepening my own. <br><br>

                        Today, I apply that same mindset at <span class="text-tertiary font-bold">Green Expert Technology</span>, developing and optimizing mission-critical software for <span class="text-tertiary font-bold">U.S. Navy Systems</span> with a focus on <span class="text-tertiary font-bold">reliability</span> and performance. <br><br>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted">The Spark</span>
                <div class="w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-md text-left">
                        <!-- WHAT MADE YOU GET INTO CS -->
                        My interest in technology started early. My parents got our first computer when I was about <span class="text-tertiary font-bold">three years old</span>, and from then on, I was always on it <span class="text-tertiary font-bold">exploring</span>, <span class="text-tertiary font-bold">experimenting</span>, and figuring things out on my own. <br><br>

                        At first, it was just curiosity. I would click through everything, try new things, and slowly start to understand how systems worked. As I got older, that curiosity turned into something more. I became <span class="text-tertiary font-bold">the person people went to</span> when something broke whether it was <span class="text-tertiary font-bold">fixing software issues or troubleshooting devices</span>. <br><br>

                        That early exposure made me realize that technology wasn’t just something I used it was something I could <span class="text-tertiary font-bold">understand, control, and eventually build</span> <br><br>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center info-boxes">
                <span class="flex text-purple-800 w-48 pt-2 pb-2 rounded-lg text-2xl font-serif justify-center bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% font-bold border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">The Future</span>
                <div class="bg-primary w-104 h-134 mt-12 rounded-xl bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% border-2 border-purple-800 shadow-lg shadow-purple-900 shadow-shifted">
                    <div class="p-2 font-serif text-secondary font-bold text-md text-left">
                        <!-- WHAT YOU PLAN FOR THE FUTURE -->
                        I aim to grow as a software engineer by building <span class="text-tertiary font-bold">scaleable</span>, <span class="text-tertiary font-bold">high-performance systems</span> where <span class="text-tertiary font-bold">reliability truly matters</span>. I’m focused on strengthening my skills in <span class="text-tertiary font-bold">backend development</span>, <span class="text-tertiary font-bold">system design</span>, and modern technologies like <span class="text-tertiary font-bold">cloud</span> and <span class="text-tertiary font-bold">containerization</span>. <br><br>

                        Long-term, I want to take on <span class="text-tertiary font-bold">greater responsibility</span> in <span class="text-tertiary font-bold">designing</span> and <span class="text-tertiary font-bold">leading</span> impactful projects while continuing to learn, improve, and <span class="text-tertiary font-bold">help others along the way</span>. <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
