<div class="flex justify-center">
    <div class="flex bg-neutral-900 fixed bottom-4 w-140 p-4 flex-row items-center justify-around rounded-4xl z-50">
        <div class="flex flex-col items-center justify-center bg-secondary/40 p-2 rounded-lg transition-all duration-700 ease-in-out hover:scale-110 cursor-pointer min-w-24 min-h-18">
            <a>
                <lucide-icon [img]="icons.User" class="w-8 h-8 stroke-primary"></lucide-icon>
            </a>
            <span class="text-primary font-medium">ABOUT</span>
        </div>
        <div class="flex flex-col items-center justify-center bg-secondary/40 p-2 rounded-lg transition-all duration-700 ease-in-out hover:scale-110 cursor-pointer min-w-24 min-h-18">
            <a>
                <lucide-icon [img]="icons.Briefcase" class="w-8 h-8 stroke-primary"></lucide-icon>
            </a>
            <span class="text-primary font-medium">EXP</span>
        </div>
        <div class="flex flex-col items-center justify-center bg-secondary/40 p-2 rounded-lg transition-all duration-700 ease-in-out hover:scale-110 cursor-pointer min-w-24 min-h-18">
            <a>
                <lucide-icon [img]="icons.FolderKanban" class="w-8 h-8 stroke-primary"></lucide-icon>
            </a>
            <span class="text-primary font-medium">PROJECTS</span>
        </div>
        <div class="flex flex-col items-center justify-center bg-secondary/40 p-2 rounded-lg transition-all duration-700 ease-in-out hover:scale-110 cursor-pointer min-w-24 min-h-18">
            <a>
                <lucide-icon [img]="icons.BadgeCheck" class="w-8 h-8 stroke-primary"></lucide-icon>
            </a>
            <span class="text-primary font-medium">CERTS</span>
        </div>
    </div>
</div>