<div class="relative p-2">
    <div class="flex flex-row mt-2 ml-2 items-center">
        <lucide-icon [img]="icons.ChevronLeft" class="stroke-white w-8 h-8" [strokeWidth]=3></lucide-icon>
        <span class="text-white text-3xl font-serif">span</span>
        <lucide-icon [img]="icons.ChevronRight" class="stroke-white w-8 h-8" [strokeWidth]=3></lucide-icon>
        <span class="text-primary text-3xl font-serif">My Portfolio</span>
        <lucide-icon [img]="icons.ChevronLeft" class="stroke-white w-8 h-8" [strokeWidth]=3></lucide-icon>
        <span class="text-white text-3xl font-serif">/span</span>
        <lucide-icon [img]="icons.ChevronRight" class="stroke-white w-8 h-8" [strokeWidth]=3></lucide-icon>
    </div>
</div>
