<div 
class="flex w-full h-full bg-black z-60 fixed inset-0 justify-center items-center transition-opacity duration-3000"
[class.opacity-0]="hasIntroFinished()"
[class.pointer-events-none]="hasIntroFinished()"
>
    @for (letter of name; track $index) {
        @if ($index < counter()) {
        <span [class]="($index < 6) || ($index > 6 && $index < 12)? 'text-primary' : 'text-white'" class="font-serif text-6xl whitespace-pre">{{ letter }}</span>
        }
  }
</div>

<!-- WHAT WE WANT 
 
    FIXED PAGE
    Z-100 (OVER EVERYTHING)
    BG-BLACK
    INSET-0 (FILLS ALL VIEW POINTS)
-->