<div class="flex w-full h-screen rounded-4xl flex-row justify-around">
    <div class="flex max-w-256 flex-col mt-60 whitespace-nowrap">
        <span class="block text-6xl text-white font-serif ">Hello, my name is <span class="text-6xl text-primary">Jeswin James</span></span>
        <span class="block text-2xl text-neutral-400 mt-2 font-serif">Computer Engineer | Temple Alumni | CS Enthusiast</span>
        <span class="block text-xl text-primary mt-12 font-serif">Building the future of tech at <span class="text-pink-500 font-semibold">GreenXT</span></span>
        <span class="block text-xl text-primary mt-1 font-serif">Driven by <span class="text-pink-500 font-semibold">Logic</span> powered by <span class="text-pink-500 font-semibold">Curiosity</span></span>
        <span class="block text-xl text-primary mt-1 font-serif">Always exploring the next breakthrough in <span class="text-pink-500 font-semibold">Computer Science!</span></span>
        <div class="flex mt-16 justify-start">
            <button class="bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-tertiary)] font-black w-48 h-16 rounded-2xl pl-8 pr-8 font-serif animate-gradient cursor-pointer">Download CV</button>
            <button class="bg-black text-secondary font-black border-2 w-38 h-16 ml-4 rounded-2xl pl-8 pr-8 font-serif cursor-pointer btn-anim">Contact Me</button>
        </div>
    </div>
    <div>
        <div 
        class="w-128 h-128 rounded-full ring-8 ring-white overflow-hidden border-white-20 mt-40 mr-20 animate-glow">
            <img src="/pfp.png" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="absolute bottom-32 flex flex-col items-center gap-2 font-serif animate-bounce">
        <span class="text-white">SCROLL DOWN</span>
        <div class="rounded-full border-primary border-2">
            <a>
                <lucide-icon [img]="icons.ChevronsDown" class="w-8 h-8 stroke-primary"></lucide-icon>
            </a>
        </div>
    </div>
</div>