<div class="flex h-50 ml-20 mr-20 rounded-4xl flex-row justify-around">
    <div class="flex max-w-256 flex-col mt-40">
        <span class="block text-6xl text-white font-serif ">Hello, my name is <span class="text-6xl text-primary">Jeswin James</span></span>
        <span class="block text-2xl text-neutral-400 mt-2 font-serif">Computer Engineer | Temple Alumni | CS Enthusiast</span>
        <span class="block text-xl text-primary mt-12 font-serif">Building the future of tech at <span class="text-green-600 font-semibold">GreenXT</span></span>
        <span class="block text-xl text-primary mt-1 font-serif">Driven by <span class="text-blue-600 font-semibold">Logic</span> powered by <span class="text-red-600 font-semibold">Curiosity</span></span>
        <span class="block text-xl text-primary mt-1 font-serif">Always exploring the next breakthrough in <span class="text-tertiary font-semibold">Computer Science!</span></span>
    </div>
    <div>
        <div 
        class="w-128 h-128 rounded-full animate-glow border-2 border-white/20 ml-4 mt-20 overflow-hidden border-white"
        [style.background] = "'radial-gradient(circle, rgba(255,255,255,0.2) 60%, black 80%)'">
            <img src="/pfp.png" class="w-full h-full object-cover">
        </div>
    </div>
</div>
