<div class="h-50 ml-20 mr-200 mt-20 rounded-4xl">
    <span class="block text-6xl text-white font-serif ">Hello, my name is <span class="text-6xl text-primary">Jeswin James</span></span>
    <span class="block text-2xl text-neutral-400 mt-8 font-serif">Computer Engineer | Temple Alumni | CS Enthusiast</span>
    <span class="block text-xl text-primary mt-12 font-serif">Building the future of tech at <span class="text-green-600 font-semibold">GreenXT</span></span>
    <span class="block text-xl text-primary mt-1 font-serif">Driven by <span class="text-yellow-600 font-semibold">Logic</span>, powered by <span class="text-red-600 font-semibold">Curiosity</span></span>
    <span class="block text-xl text-primary mt-1 font-serif">Always exploring the next breakthrough in <span class="text-tertiary">Computer Science!</span></span>
</div>
