<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="h-screen overflow-y-scroll scroll-smooth snap-y snap-mandatory bg-gradient-to-b from-[var(--color-neutral)] to-purple-900 to-300%">
        <div class="snap-start h-screen relative">
            <app-header></app-header>
            <app-landing></app-landing>
        </div>
        <div class="snap-start h-screen relative">
            <app-about-me></app-about-me>
        </div>
        <div class="snap-start h-screen relative">
            <app-experience></app-experience>        
        </div>
        <div class="snap-start h-screen relative">
            <app-skills></app-skills>        
        </div>
        <div class="snap-start h-screen relative">
            <app-projects></app-projects>           
        </div>
        <app-navbar></app-navbar>
    </div>
</body>
</html>


<!-- generate new component with this command:-->

<!-- ng generate component components/component-name -->