<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <app-header></app-header>
        <div class="bg-neutral">
            <app-landing></app-landing>
            <app-about-me></app-about-me>
        </div>
        <app-navbar></app-navbar>
    </div>
</body>
</html>


<!-- generate new component with this command:-->

<!-- ng generate component components/component-name -->