@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #A855F7;
    --color-secondary: #925FC6;
    --color-tertiary: #C05177;
    --color-neutral: #0A0A0B;
}

.nav-btn {
    transition: transform 1s ease;
}

.nav-btn:hover {
    transform: scale(1.1) translateY(-4px);
}