@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #A855F7;
    --color-secondary: #925FC6;
    --color-tertiary: #C05177;
    --color-neutral: #0A0A0B;
    --color-bd-color: #A855F7;

    --font-brand: "Times New Roman", Times, serif;
    --shadow-shifted: 10px 10px 30px -5px rgba(168, 85, 247, 0.5);
}

@keyframes glow-pulse {
  0% {
    filter: brightness(100%);
    rotate: 0deg;
  }
  25% {
    filter: brightness(115%);
    rotate: -2deg;
  }
  75% {
    filter: brightness(115%);
    rotate: 2deg;
  }
  100% {
    filter: brightness(100%);
    rotate: 0deg;
  }
}

@keyframes btn-gradient {
  0%, 100% { 
    background-position: 0% 50%; 
  }
  50% { 
    background-position: 100% 50%; 
  }
}

@keyframes customFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw-shape {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-glow {
  animation: glow-pulse 16s infinite ease-in-out;
}

.animate-blink {
  animation: blink 0.5s step-start infinite;
}

.animate-gradient {
  background: linear-gradient(to right, var(--color-tertiary), var(--color-primary), var(--color-tertiary));
  background-size: 200% auto;
  background-position: 0% 50%;
  transform: scale(1);
  filter: brightness(0.9);

  transition: transform 0.5s ease, filter 0.5s ease, background-position 0.5s ease;
}

.animate-gradient:hover {
  transform: scale(1.05);
  filter: brightness(1.05);

  animation: btn-gradient 3s ease infinite;
}

/* FADE IN ANIMATION FOR NODES */
#experience-section .fade-in {
  opacity: 0;
  animation: none;
}

#experience-section.animate .fade-in {
  animation: customFadeIn 1s ease forwards;
}

/* DRAWING HORRIZONTAL LINE */
#experience-section .draw-line {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: none;
}

#experience-section.animate .draw-line {
  animation: draw-shape 1s ease-in-out forwards;
}


/* DRAWING RECTS */
path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.draw-box {
  stroke-dashoffset: 0 !important;
}
/* BOXES HOVER ANIM */
.info-boxes {
  filter: brightness(0.9);

  transition: transform 1s ease, filter 1s ease;
}

.info-boxes:hover {
  transform: scale(1.075);
  filter: brightness(1.1)
}


/* BOTTOM IS FOR CONTACT ME BTN */
.btn-anim {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.btn-anim:hover {
  transform: scale(1.05);
  filter: brightness(1.25);
}

/* SCROLL BAR */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #A855F7;
    border-radius: 999px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #7C3AED;
}