@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #A855F7;
    --color-secondary: #925FC6;
    --color-tertiary: #C05177;
    --color-neutral: #0A0A0B;

    --font-brand: "Times New Roman", Times, serif;
}

@keyframes glow-pulse {
  0% {
    transform: scale(1);
    filter: brightness(95%) blur(0px);
  }
  50% {
    transform: scale(1.05);
    filter: brightness(105%) blur(0.5px);
  }
  100% {
    transform: scale(1);
    filter: brightness(95%) blur(0px);
  }
}

.animate-glow {
  animation: glow-pulse 16s infinite ease-in-out;
}