<div #experienceSection id="experience-section" class="relative flex w-full h-screen flex-col overflow-hidden">
    <span class="flex justify-center text-4xl font-serif font-semibold text-white pt-4">
        My Work&nbsp;<span class="text-primary"> Experiences!</span>
    </span>

    <div class="relative w-full h-full mx-auto max-w-7xl">
        <svg 
            viewBox="0 0 100 4" 
            preserveAspectRatio="none" 
            class="absolute top-1/2 w-full h-4 overflow-visible pointer-events-none z-20">
            <path 
                d="M 5 2 L 95 2" 
                fill="none"
                stroke="white" 
                stroke-width="1" 
                stroke-linecap="round"
                pathLength="1"
                class="draw-line" 
            />
        </svg>
        <div class="flex w-full h-full flex-row justify-around"> 
            <div class="relative w-full h-full flex flex-col items-center justify-center">
                <div 
                class="bg-white w-8 h-8 rounded-full flex items-center justify-center fade-in font-bold z-10 shadow-[0_0_15px_white] opacity-0 z-21"
                style="animation-delay: 1050ms;"
                >
                </div>
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 flex flex-col items-center z-20 bg-">
                    <svg width="4" height="75" viewBox="0 0 4 75" class="overflow-visible bg-black-400">
                        <path 
                            d="M 2 0 V 75" 
                            stroke="White" 
                            stroke-width="4"
                            stroke-linecap="round"
                            pathLength="1"
                            fill="none"
                            class="draw-line transition-all duration-1000"
                            style="animation-delay: 1700ms;" 
                        />
                    </svg>
                    <div 
                    class="flex bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% w-100 h-75 rounded-2xl fade-in border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted opacity-0 info-boxes"
                    style="animation-delay: 2000ms"
                    >
                        <div class="w-full h-full pl-4 pt-2 pr-4">
                            <div class="flex relative flex-col">
                                <!-- CHANGE THIS HERE-->
                                <span class="text-2xl font-serif text-primary font-black">IT Technician</span>
                                <span class="text-xl font-serif text-purple-400">@T-Mobile</span>
                                <span class="absolute right-0 bottom-0 text-md font-serif text-secondary">May 2022 - Sep 2023</span>
                            </div>
                            <hr class="border-1 border-purple-400 mt-2 ">

                            <div class="mt-2">
                                <div class="text-primary font-serif">
                                    <!-- CHANGE THIS HERE-->
                                    - text <br>
                                    - text <br>
                                    - text <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative w-full h-full flex items-center justify-center">
                <div 
                class="bg-white w-8 h-8 rounded-full flex items-center justify-center fade-in font-bold z-10 shadow-[0_0_15px_white] opacity-0 z-21"
                style="animation-delay: 1350ms;">
                </div>
                <div class="absolute bottom-1/2 left-1/2 -translate-x-1/2 flex flex-col items-center z-20 bg-">
                    <div 
                    class="flex bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% w-100 h-75 rounded-2xl fade-in border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted opacity-0 info-boxes"
                    style="animation-delay: 2100ms">
                        <div class="w-full h-full pl-4 pt-2 pr-4">
                            <div class="flex relative flex-col">
                                <!-- CHANGE THIS HERE-->
                                <span class="text-2xl font-serif text-primary font-black">Computer Engineer</span>
                                <span class="text-xl font-serif text-purple-400">@GreenXT</span>
                                <span class="absolute right-0 bottom-0 text-md font-serif text-secondary">August 2024 - May 2026</span>
                            </div>
                            <hr class="border-1 border-purple-400 mt-2 ">

                            <div class="mt-2">
                                <div class="text-primary font-serif">
                                    <!-- CHANGE THIS HERE-->
                                    - text <br>
                                    - text <br>
                                    - text <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <svg width="4" height="75" viewBox="0 0 4 75" class="overflow-visible bg-black-400">
                        <path 
                            d="M 2 75 V 0" 
                            stroke="White" 
                            stroke-width="4"
                            stroke-linecap="round"
                            pathLength="1"
                            fill="none"
                            class="draw-line transition-all duration-1000"
                            style="animation-delay: 1800ms;" 
                        />
                    </svg>
                </div>
            </div>

            <div class="relative w-full h-full flex items-center justify-center">
                <div 
                class="bg-white w-8 h-8 rounded-full flex items-center justify-center fade-in font-bold z-10 shadow-[0_0_15px_white] opacity-0 z-21"
                style="animation-delay: 1650ms;"
                >
                </div>
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 flex flex-col items-center z-20 bg-">
                    <svg width="4" height="75" viewBox="0 0 4 75" class="overflow-visible bg-black-400">
                        <path 
                            d="M 2 0 V 75" 
                            stroke="White" 
                            stroke-width="4"
                            stroke-linecap="round"
                            pathLength="1"
                            fill="none"
                            class="draw-line transition-all duration-1000"
                            style="animation-delay: 1900ms;" 
                        />
                    </svg>
                    <div 
                    class="flex bg-gradient-to-br from-purple-900 via-violet-950 to-black to-150% w-100 h-75 rounded-2xl fade-in border-purple-800 shadow-lg shadow-purple-900/50 shadow-shifted opacity-0 info-boxes"
                    style="animation-delay: 2200ms"
                    >
                        <div class="w-full h-full pl-4 pt-2 pr-4">
                            <div class="flex relative flex-col">
                                <!-- CHANGE THIS HERE-->
                                <span class="text-2xl font-serif text-primary font-black">New Job</span>
                                <span class="text-xl font-serif text-purple-400">@Company Name</span>
                                <span class="absolute right-0 bottom-0 text-md font-serif text-secondary">May 2026 - Present</span>
                            </div>
                            <hr class="border-1 border-purple-400 mt-2 ">

                            <div class="mt-2">
                                <div class="text-primary font-serif">
                                    <!-- CHANGE THIS HERE-->
                                    - text <br>
                                    - text <br>
                                    - text <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>