<div id="experience-section" class="flex w-screen h-screen flex-col">
    <span class="flex justify-center text-4xl font-serif font-semibold text-white pt-4">My Work&nbsp;<span class="text-primary"> Experiences!</span></span>
    <div class="w-full h-full">
        <svg width="w-full" height="50" viewBox="0 0 10 50">
            <path 
            d="M 5 0 V 50" 
            stroke="#A855F7" 
            stroke-width="4"
            pathLength="1"
            fill="none"
            class="absolute transition-all duration-1000" 
            />
        </svg>
        <!-- <div class="absolute top-1/2 inset-x-20 border-t-4 border-white -translate-y-1/2 ml-20 mr-20 rounded-full"></div> -->
    </div>
</div>
